# Simple SirMordred config file
#

[general]
# Name of the project to analyze (will appear in dashboard)
short_name = Kubernetes
# Update incrementally, forever
update = true
# Don't start a new update earlier than (since last update, seconds)
min_update_delay = 3600
# Produce debugging data for the logs
debug = true

# Directory for logs
logs_dir = k8s_logs


[projects]
# File with repositories to analyze
projects_file = k8s.json


[es_collection]
# arthur
arthur = True
arthur_url = http://127.0.0.1:8080
redis_url = http://127.0.0.1:6379
# Url to access raw indexes (Elasticsearch instance)
url = http://localhost:9200
# User and password to acces Elasticseach, if any
user =
password =


[es_enrichment]
# Url to access enriched indexes (Elasticsearch instance)
url = http://127.0.0.1:9200
# User and password to acces Elasticseach, if any
user =
password =
# refresh identities (days)
autorefresh_interval = 1

# Refresh identities and projects for all items after enrichment
autorefresh = true


[sortinghat]
# Host to access MariaDB / MySQL instance
host = localhost
# User and password to access MariaDB / MySQL instance
user = shuser
password = xxxxxx
# Name of MariaDB / MySQL database
database = shdb

# Run affilation
affiliate = True
# How to match to unify
matching = [email]
# How long to sleep before running again, for identities tasks (seconds)
sleep_for = 3600
# Don't load a specific organizations file
load_orgs = false
# Name of group of identities with no affiliation
unaffiliated_group = Unknown
# Ids known to be bots
bots_names = ['greenkeeper[bot]', 'web-flow', 'k8s-merge-robot', 'codecov[bot]', 'stale[bot]', 'googlebot', 'coveralls', 'rktbot', 'Docker Library Bot', 'k8s-merge-robot', 'Kubernetes Submit Queue', 'tilosp-bot', 'Travis Deploy Bot', 'VMware CLA Bot', 'Kubernetes staging repo publishing bot', 'Kubernetes Publisher', 'k8s-ci-robot', 'devstats-sync', 'coreosbot', 'web-flow', 'openstack-gerrit', 'prometheus-roobot', 'cncf-bot']
# How to autoprofile
autoprofile = [git,github]
# Autogender
autogender = False
# autogender_api_token =
# GitHub
identities_api_token = xxxxxx

[panels]
# Dashboard: default time frame
kibiter_time_from= "now-3y"
# Dashboard: default index pattern
kibiter_default_index= "k8s_git"
kibiter_url = "http://devstats.cncf.io:5601"

[phases]
# Data collection (build raw indexes)
collection = true
# Run SortingHat for identities
identities = true
# Build enriched indexes
enrichment = true
# Upload panels to Kibiter/Kibana
panels = true

[git]
# Names for raw and enriched indexes
raw_index = k8s_git_raw
enriched_index = k8s_git
category = commit

[github]
api-token = xxxxxx
sleep-for-rate = True
raw_index = k8s_github_raw
enriched_index = k8s_github
category = issue
